<h1>Edit this Element:</h1>

<hr>

<%= form_for [@comic, @page, @element] do |f| %>

  <% if @element.errors.any? %>
    <h3><%= pluralize(@element.errors.count, "error") %> prohibited this element from being created:</h3>
    <ul>
      <% @element.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :image_url, "Element Image URL" %>
    <%= f.text_field :image_url %>
  </p>

  <p>
    <%= f.label :image_file, "or Element Image File" %>
    <%= f.file_field :image_file %>
  </p>

<% if !@element.image_file.file.nil? %>
  <p>
    <%= @element.image_file %><br>
    <%= f.check_box :remove_image_file %><%= f.label :remove_image_file, "Remove Element Image"%>
  </p>
<% end %>

  <p>
    <%= f.label :id_name, "Unique ID Name" %>
    <%= f.text_field :id_name %>
  </p>

  <p>
    <%= f.label :position %>
    <%= f.select :position, options_for_select(%w[none relative fixed absolute], @element.position) %>
  </p>

  <p>
    <%= f.label :align %>
    <%= f.select :align, options_for_select(%w[default left right], @element.align) %>
  </p>

  <p>
    <%= f.label :z, "Z-Index" %>
    <%= f.text_field :z %>
  </p>

  <p>
    <%= f.label :notes, "Creator Notes" %>
    <%= f.text_area :notes %>
  </p>

  <p>
    <%= f.label :css, "Custom CSS" %>
    <%= f.text_area :css %>
  </p>

  <p>
    <%= f.label :js, "Animation & Interaction Code" %>
    <%= f.text_area :js %>
  </p>

  <%= f.submit 'Edit Element', class: "button radius" %>


<% end %>

<p><%= link_to "Back to page #{@page.number}", comic_pages_path(@comic, page: @page.number) %></p>
