<h1>List of Elements on Page</h1>

<span class="tr-buttons">
<% if @comic.user == current_user %>
  <%= link_to 'Create Element', new_comic_page_element_path(@comic, @page), class: "button radius" %>
  <%= link_to "Page #{@page.number}", comic_pages_path(@comic, page: @page.number), class: "button radius" %>
  <%= link_to "Contents", comic_path(@comic), class: "button radius" %>
<% end %>
</span>

<hr>

<div class="list element-index">
  <% if @elements.empty? %>
    <ul>
      <li>No elements on this page!</li>
    </ul>
  <% else %>
    <ul>
    <% @elements.each do |element| %>
      <li>
        <p>
          <strong>Image:</strong><br>
          <%= element_image(element) %>
        </p>
        <p>
          <strong>ID name:</strong><br>
          <%= !element.id_name.nil? ? element.id_name : "(none)" %>
        </p>
        <p>
          <strong>Position:</strong><br>
          <%= element.position %>
        </p>
        <p>
          <strong>Alignment:</strong><br>
          <%= element.align %>
        </p>
        <p>
          <strong>Z-Index:</strong><br>
          <%= !element.z.nil? ? element.z : "(none)" %>
        </p>
        <p>
          <strong>Creator Notes:</strong><br>
          <%= !element.notes.nil? ? element.notes : "(none)" %>
        </p>
        <p>
          <strong>Custom CSS:</strong><br>
          <%= !element.css.nil? ? element.css : "(none)" %>
        </p>
        <p>
          <strong>Custom JS:</strong><br>
          <%= !element.js.nil? ? element.js : "(none)" %>
        </p>

        <p>
        <%= link_to 'Edit Element', edit_comic_page_element_path(@comic, @page, element), class: "button radius" %>
        <%= link_to 'Delete Element', [@comic, @page, element], method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %></p>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>

<p><%= link_to "Back to page #{@page.number}", comic_pages_path(@comic, page: @page.number) %></p>
