<h1>List of Elements on Page</h1>

<span class="tr-buttons">
<% if @comic.user == current_user %>
  <%= link_to 'Create Element', new_comic_page_element_path(@comic, @page), class: "button radius" %>
  <%= link_to "#{@comic.name} Index", comic_path(@comic), class: "button radius" %>
<% end %>
</span>

<hr>

<% if @elements.empty? %>
  <ul>
    <li>No elements on this page!</li>
  </ul>
<% else %>
  <ul>
  <% @elements.each do |element| %>
    <li>
      <p class="index-img">
        <strong>Image:</strong><br>
        <%= element_image(element) %>
      </p>
      <p>
        <strong>ID name:</strong><br>
        <%= element.id_name.empty? ? "(none)" : element.id_name %>
      </p>
      <p>
        <strong>Animation Type:</strong><br>
        <%= element.animation_type %>
      </p>
      <p>
        <strong>Custom CSS:</strong><br>
        <%= element.css %>
      </p>
      <p>
        <strong>Custom JS:</strong><br>
        <%= element.js %>
      </p>

      <p><%= link_to 'Edit this Element', edit_comic_page_element_path(@comic, @page, element) %></p>
      <%= link_to 'Delete this element', [@comic, @page, element], class: 'button radius', method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
    </li>
  <% end %>
  </ul>
<% end %>

<p class="text-center"><%= link_to "Back to page #{@page.number}", comic_pages_path(@comic, page: @page.number) %></p>
