<h1>Create an Element</h1>

<hr>

<%= form_for [@comic, @page, @element] do |f| %>

  <% if @element.errors.any? %>
    <h3><%= pluralize(@element.errors.count, "error") %> prohibited this element from being created:</h3>
    <ul>
      <% @element.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :image_url, "Element Image URL" %>
    <%= f.text_field :image_url %>
  </p>

  <p>
    <%= f.label :image_file, "or Element Image File" %>
    <%= f.file_field :image_file %>
  </p>

  <p>
    <%= f.label :id_name, 'Unique ID Name' %>
    <%= f.text_field :id_name %>
  </p>

  <p>
    <%= f.label :animation_type%>
    <%= f.select :animation_type, options_for_select(%w[none]) %>
  </p>

  <p>
    <%= f.label :x %>
    <%= f.text_field :x %>
  </p>

  <p>
    <%= f.label :y %>
    <%= f.text_field :y %>
  </p>

  <p>
    <%= f.label :z %>
    <%= f.text_field :z %>
  </p>

  <p>
    <%= f.label :css, "Advanced CSS" %>
    <%= f.text_area :css %>
  </p>

  <p>
    <%= f.label :js, "Advanced JS" %>
    <%= f.text_area :js %>
  </p>

  <%= f.submit 'Add Element', class: "button radius" %>

<% end %>

<p><%= link_to "Back to page #{@page.number}", comic_pages_path(@comic, page: @page.number) %></p>
