<h1>Edit "<%= @comic.name %>"</h1>

<%= form_for @comic do |f| %>

  <% if @comic.errors.any? %>
    <h3><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being added:</h3>
    <ul>
      <% @comic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :creators %>
    <%= f.text_field :creators %>
  </p>

  <p>
    <%= f.submit 'Edit Comic' %>
  </p>

<% end %>

<p><%= link_to 'Delete this comic', @comic, class: 'button radius', method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %></p>

<%= link_to 'Back to Comics', comics_path %>
