<h1>Edit "<%= @comic.name %>"</h1>

<%= form_for @comic do |f| %>

  <% if @comic.errors.any? %>
    <h3><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being added:</h3>
    <ul>
      <% @comic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :cover_img_url, "Cover Image URL" %>
    <%= f.text_field :cover_img_url %>
  </p>

  <p>
    <%= f.label :cover_image, "or Cover Image File" %>
    <%= f.file_field :cover_image %>
  </p>

  <% if !@comic.cover_image.file.nil? %>
  <p>
    <%= @comic.cover_image %><br>
    <%= f.check_box :remove_cover_image %><%= f.label :remove_cover_image, "Remove Cover Image"%>
  </p>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :creators %>
    <%= f.text_field :creators %>
  </p>

  <%= f.submit 'Edit Comic', class: "button radius" %>


<% end %>

<p><%= link_to 'Delete this comic', @comic, method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %></p>

<p><%= link_to "Back to #{@comic.name}", comic_path(@comic) %></p>
