<h1>Create a Comic</h1>

<%= form_for @comic do |f| %>

  <% if @comic.errors.any? %>
    <h3><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being added:</h3>
    <ul>
      <% @comic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :cover_img_url %><br>
    <%= f.text_field :cover_img_url %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :creators %><br>
    <%= f.text_field :creators %>
  </p>

  <%= f.submit 'Create Comic', class: "button radius" %>

<% end %>

<%= link_to 'Back to Comics', comics_path %>
