<h1><%= @comic.name %></h1>
<span class="tr-buttons">
<% if user_signed_in? && @comic.editable_by?(current_user) %>
  <%= link_to 'Edit this Comic', edit_comic_path(@comic), class: "button radius" %>
  <%= link_to 'Create Page/Chapter', new_comic_page_path(@comic), class: "button radius" %>
<% end %>
</span>

<hr>

<div class="row">

  <div class="cover">
    <%= cover_image(@comic) %>
  </div>

  <div class="list">
    <p>
      By <%= @comic.creators %><br>
      <em><%= @comic.description %><% if @comic.description.empty? %>(none)<% end %></em><br>
      Posted By: <%= @comic.user.username %><br>
    </p>

    <h4>Contents:</h4>
    <ul>

      <% @comic.chapter_pages.each do |page| %>
        <% if page.page_type == "chapter" %>
          <li>
            <strong><%= link_to !page.name.empty? ? "Chapter #{page.chapter}: #{page.name}" : "Chapter #{page.chapter}", comic_pages_path(@comic, page: @page_counter += 1) %></strong>
            <% if user_signed_in? && @comic.editable_by?(current_user) %><br>
              <%= link_to 'edit', edit_comic_page_path(@comic, page) %> |
              <%= link_to 'delete', [@comic, page], method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %> |
              <%= link_to 'elements', comic_page_elements_path(@comic, page) %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to !page.name.empty? ? "Page #{page.number}: #{page.name}" : "Page #{page.number}", comic_pages_path(@comic, page: @page_counter += 1) %>
            <% if user_signed_in? && @comic.editable_by?(current_user) %><br>
              <%= link_to 'edit', edit_comic_page_path(@comic, page) %> |
              <%= link_to 'delete', [@comic, page], method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %> |
              <%= link_to 'elements', comic_page_elements_path(@comic, page) %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <p><% if user_signed_in? && @comic.editable_by?(current_user) %><%= link_to 'Add Page', new_comic_page_path(@comic), class: "button radius" %><% end %></p>

    <p><%= link_to 'Back to Comics', comics_path %></p>

  </div>

</div>
