<h1><%= @comic.name %></h1>
<p>By <%= @comic.creators %></p>
<p>Description: <%= @comic.description %></p>

<ul>
  <% @pages.each do |page| %>
    <li>
      <p><%= link_to "Page #{page.number}", comic_page_path(@comic.name, page.number) %></p>
      <p><%= page.name %></p>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Create a Page', new_comic_page_path(@comic) %></p>

<p><%= link_to 'Back to Comics', comics_path %></p>
