<h1>Edit a Page/Chapter</h1>

<hr>

<%= form_for [@comic, @page] do |f| %>

  <% if @page.errors.any? %>
    <h3><%= pluralize(@page.errors.count, "error") %> prohibited this page from being added:</h3>
    <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :chapter, 'Chapter Number' %>
    <%= f.text_field :chapter %>
  </p>

  <p>
    <%= f.label :number, 'Page Number' %>
    <%= f.text_field :number %>
  </p>

  <p>
    <%= f.label :name,'Name' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :page_type, 'Type' %>
    <%= f.select :page_type, %w[page chapter], selected: @page.page_type %>
  </p>

  <%= f.submit 'Edit Page', class: "button radius" %>

<% end %>

<p><%= link_to 'Delete this page', [@comic, @page], method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %></p>

<p><%= link_to "Back to page #{@page.number}", comic_pages_path(@comic, page: @page.number) %></p>
