<h1>Edit a Page</h1>

<%= form_for [@comic, @page] do |f| %>

  <% if @page.errors.any? %>
    <h3><%= pluralize(@page.errors.count, "error") %> prohibited this page from being added:</h3>
    <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :chapter %>
    <%= f.text_field :chapter %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :number %>
    <%= f.text_field :number %>
  </p>

  <p>
    <%= f.label :page_type %>
    <%= f.select :page_type, options_for_select(%w[page chapter]) %>
  </p>

  <p>
    <%= f.submit 'Edit Page' %>
  </p>

<% end %>

<p><%= link_to 'Delete this page', [@comic, @page], class: 'button radius', method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %></p>

<p><%= link_to "Back to #{@comic.name}", comic_path(@comic) %></p>
