<h1>Create a Page/Chapter:</h1>

<hr>

<%= form_for [@comic, @page] do |f| %>

  <% if @page.errors.any? %>
    <h3><%= pluralize(@page.errors.count, "error") %> prohibited this page from being added:</h3>
    <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :chapter, 'Chapter Number' %><br>
    <%= f.text_field :chapter %>
  </p>

  <p>
    <%= f.label :name,'Page/Chapter Name' %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :number, 'Page Number' %><br>
    <%= f.text_field :number %>
  </p>

  <p>
    <%= f.label :page_type, 'Type' %><br>
    <%= f.select :page_type, %w[page chapter] %>
  </p>

  <%= f.submit 'Create Page', class: "button radius" %>

<% end %>

<p><%= link_to "Back to #{@comic.name}", comic_path(@comic) %></p>
