<ul class="side-nav text-center">
  <li>
    <% if user_signed_in? %><%= link_to current_user.username, edit_user_registration_path(current_user) %><% end %>
  </li>
<% if !@comic.nil? && !@comic.pages.empty? %>
  <li>
    <%= link_to "Contents", comic_path(@comic) %>
  </li>
<% end %>
<% if !@pagination.nil? %>
  <li>
    <%= link_to "First Page", comic_pages_path(@comic, page: 1) %>
  </li>
  <li>
    <% if !@pagination.last_page? %>
      <%= link_to "Next Page >", comic_pages_path(@comic, page: @pagination.next_page) %>
    <% else %>
      <div class="grayed">Next Page ></div>
    <% end %>
  </li>
  <li>
    <% if !@pagination.first_page? %>
      <%= link_to "< Previous Page", comic_pages_path(@comic, page: @pagination.prev_page) %>
    <% else %>
      <div class="grayed">< Previous Page</div>
    <% end %>
  </li>
  <li>
    <%= link_to "Last Page", comic_pages_path(@comic, page: @pagination.num_pages) %>
  </li>
<% end %>
<li class="divider"></li>
  <li>
    <%= link_to 'Latest Comics', comics_path %>
  </li>
<% if user_signed_in? %>
  <li>
  <%= link_to 'Create Comic', new_comic_path %>
  </li>
  <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>
</ul>
