<!DOCTYPE html>
<html>
<head>
  <title>Emphasis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p><strong><%= notice %></strong></p>
  <p><strong><%= alert %></strong></p>

  <% if user_signed_in? %>
    <p>You are logged in as: <%= current_user.username %></p>
  <% else %>
    <p>You are not logged in.</p>
  <% end %>

  <ul>
    <li>
      <%= link_to 'All Comics', comics_path %>
    </li>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, class: 'button radius', :method => :delete) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path, class: 'button radius') %>
    </li>
  <% end %>
  </ul>




  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
