<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Emphasis" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <div class="sidebar">
      <ul class="side-nav text-center">
        <li>
          <%= image_tag("em_logo.png") %>
        </li>
        <li>
          <p><% if user_signed_in? %><%= current_user.username %><% end %></p>
        </li>
        <li>
          <%= link_to 'All Comics', comics_path %>
        </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path) %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="container">
      <% if !notice.nil? %><p class="alert-box radius success"><%= notice %></p><% end %>
      <% if !alert.nil? %><p class="alert-box radius warning"><%= alert %></p><% end %>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
